REDMINE_DB_MYSQL="a.host.name"
REDMINE_DB_PORT="3306"
REDMINE_DB_DATABASE="redmine"
REDMINE_DB_USERNAME="redmine"
REDMINE_DB_PASSWORD="redmine"
#REDMINE_NO_DB_MIGRATE=true
#REDMINE_PLUGINS_MIGRATE=true
